# 1.Manipulate using a list.
1.to add new elements to the  end of  the list.
2.to reverse element in the list.
3.to display the same list of elements multiple times.
4.to concatenate two list.
5.to sort the elements in the list in an ascending order.

In [2]:
my_list = [1, 'vishal', 3]
my_list

[1, 'vishal', 3]

In [3]:
my_list.append(4)  # Adds 4 to the end of the list
print(my_list)

[1, 'vishal', 3, 4]

In [3]:
my_list.reverse()  # Reverses the list in-place
print(my_list)

[4, 3, 'vishal', 1]

In [4]:
result = my_list * 3  # Repeats the list 3 times
print(result)

[4, 3, 'vishal', 1, 4, 3, 'vishal', 1, 4, 3, 'vishal', 1]

In [5]:
my_list

[4, 3, 'vishal', 1]

In [6]:
my_list.reverse()

In [7]:
print(my_list)

[1, 'vishal', 3, 4]

In [9]:
my_list2 = ['yash', 5, 6]
concatenated_list = my_list + my_list2  
print(concatenated_list)

[1, 'vishal', 3, 4, 'yash', 5, 6]

In [11]:
my_list1 = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5,8,6,3,2,9]
my_list1.sort()  # Sorts the list in ascending order
print(my_list1)

[1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 5, 6, 6, 8, 9, 9]

# 2.write a python program  to do in the tuples.

In [12]:
# Manipulate tuples
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [17]:
# 1. Add new elements to the ends of the tuple
my_tuple = my_tuple + (6, 7)  # Using concatenation
my_tuple

(1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7)

In [22]:
# 2. Reverse elements in the tuple
reversed_tuple = my_tuple[::-1]
reversed_tuple

(7, 6, 7, 6, 7, 6, 5, 4, 3, 2, 1)

In [26]:
# 3. Display elements of the same tuple multiple times
repeated_tuple = (my_tuple * 3)
repeated_tuple

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 7)

In [27]:
# 4. Concatenate two tuples
my_tuple = (1, 2, 3, 4, 5)
my_tuple2 = (6,7,8)
concatenated_tuple = my_tuple + my_tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [28]:
sorted_tuple = tuple(sorted(my_tuple))
sorted_tuple

(1, 2, 3, 4, 5)

In [29]:
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)
print("Repeated Tuple:", repeated_tuple)
print("Concatenated Tuple:", concatenated_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (7, 6, 7, 6, 7, 6, 5, 4, 3, 2, 1)
Repeated Tuple: (1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7, 1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7, 1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7)
Concatenated Tuple: (1, 2, 3, 4, 5, 6, 7, 8)
Sorted Tuple: (1, 2, 3, 4, 5)

# 3. write a python program to implement  the following  using list.

In [30]:
# 1. Create a list with integers (minimum 10 numbers)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# 2. Display the last number in the list
last_number = my_list[-1]
last_number

10

In [32]:
# 3. Display values from the list[0:4]
value1 = my_list[0:4]
value1

[1, 2, 3, 4]

In [33]:
# 4. Display values from the list[2:]
value2 = my_list[2:]
value2

[3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# 5. Display values from the list[:6]
value3 = my_list[:6]
value3

[1, 2, 3, 4, 5, 6]

In [35]:
# Display the results
print("Original List:", my_list)
print("Last Number:", last_number)
print("Values from List[0:4]:", value1)
print("Values from List[2:]:", value2)
print("Values from List[:6]:", value3)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last Number: 10
Values from List[0:4]: [1, 2, 3, 4]
Values from List[2:]: [3, 4, 5, 6, 7, 8, 9, 10]
Values from List[:6]: [1, 2, 3, 4, 5, 6]

#  4.write a python code to implement .tuple1=(10,50,20,40,30)

In [36]:
# Define the tuple
tuple1 = (10, 50, 20, 40, 30)
tuple1

(10, 50, 20, 40, 30)

In [39]:
# 1. Display the elements 10 and 50 from tuple1
element_10 = tuple1[0]
element_50 = tuple1[1]
element_10
element_50

50

In [40]:
# 2. Display the length of tuple1
length_tuple1 = len(tuple1)
length_tuple1

5

In [41]:
# 3. Find the minimum element from tuple1
min_element = min(tuple1)
min_element

10

In [45]:
# 4. Add an element to tuple1 (Tuples are immutable, so we need to create a new tuple)
new_element = 60
tuple1 = tuple1 + (new_element,)
tuple1

(10, 50, 20, 40, 30, 60, 60, 60)

In [14]:
# 5. Display the same tuple1 multiple times
tuple1 = (10, 50, 20, 40, 30)
tuple1_multipletimes = tuple1 * 3
tuple1_multipletimes

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

In [13]:
# Display the results
print("Tuple1:", tuple1)
print("Element 10:", element_10)
print("Element 50:", element_50)
print("Length of Tuple1:", length_tuple1)
print("Minimum Element:", min_element)
print("Tuple1 After Adding Element:", tuple1)
print("Tuple1 Multiple Times:", tuple1_multipletimes)

NameError: name 'tuple1' is not defined

# 5. write a python program:

In [50]:
# 1. Calculate the length of the string
input_string = "Hello, Vishal!"
length = len(input_string)
length

14

In [53]:
# 2. Reverse the words in the string
reversed_string = ' '.join(input_string.split()[::-1])
reversed_string

'Vishal! Hello,'

In [56]:
# 3. Display the same string multiple times
string_multipletimes = input_string * 3
string_multipletimes

'Hello, Vishal!Hello, Vishal!Hello, Vishal!'

In [57]:
# 4. Concatenate two strings
str1 = "good"
str2 = "evening"
concatenated_string = str1 + " " + str2
concatenated_string

'good evening'

In [58]:
# 5. Using string slicing to display "india" from "South india"
str3 = "South india"
india_part = str3[6:]
india_part

'india'

In [59]:
# Display the results
print("Original String:", input_string)
print("Length of the String:", length)
print("Reversed String:", reversed_string)
print("String Multiple Times:", string_multipletimes)
print("Concatenated String:", concatenated_string)
print("Substring 'india':", india_part)

Original String: Hello, Vishal!
Length of the String: 14
Reversed String: Vishal! Hello,
String Multiple Times: Hello, Vishal!Hello, Vishal!Hello, Vishal!
Concatenated String: good evening
Substring 'india': india

# 6.perform the folowing:

In [60]:
# 1. Creating a dictionary
my_dict = {'name': 'vishal', 'age': 23, 'city': 'Ghaziabad'}
my_dict

{'name': 'vishal', 'age': 23, 'city': 'Ghaziabad'}

In [63]:
# 2. Accessing values and keys in the dictionary
name = my_dict['name']
age = my_dict['age']
city = my_dict['city']
name,city, age

('vishal', 'Ghaziabad', 23)

In [64]:
# 3. Updating the dictionary using a function
def update_dictionary(d, key, value):
    d[key] = value

update_dictionary(my_dict, 'job', 'Engineer')
my_dict

{'name': 'vishal', 'age': 23, 'city': 'Ghaziabad', 'job': 'Engineer'}

In [70]:

# 4. Clear and delete the dictionary
my_dict = {'name': 'vishal', 'age': 23, 'city': 'Ghaziabad','job': 'Engineer'}
my_dict.clear()
del my_dict

In [71]:
# Display the results
print("Original Dictionary:", my_dict) 
print("Name:", name)
print("Age:", age)
print("City:", city)

NameError: name 'my_dict' is not defined

# 7.python program to insert a number to any position in a list.

In [75]:
my_list = [1, 2, 3, 4, 5]
print("Original List : " , my_list)
number_to_insert = 6
position = 2
my_list.insert(position, number_to_insert)
print("Updated List:", my_list)

Original List :  [1, 2, 3, 4, 5]
Updated List: [1, 2, 6, 3, 4, 5]

# 8.python program to delete a number from a list by index.

In [76]:
my_list = [1, 2, 3, 4, 5]
print("Original List : " , my_list)
index_to_delete = 2
if 0 <= index_to_delete < len(my_list):
    my_list.pop(index_to_delete)
else:
    print("Invalid index")
print("Updated List:", my_list)

Original List :  [1, 2, 3, 4, 5]
Updated List: [1, 2, 4, 5]

# 9.write a program to display a number from 1 to 100.

In [10]:
#  to display numbers from 1 to 100
for number in range(1, 101):
    print(number,end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.write a Python program to find the sum of all items in a tuple.

In [78]:
my_tuple = (1, 2, 3, 4, 5)
sum_of_items = 0
for item in my_tuple:
    sum_of_items += item
print("Sum of Items:", sum_of_items)

Sum of Items: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root. E.g. dict('Square' function for squaring, 'Cube': function for cube, 'Squareroot function for square root) Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.
 
 Is=['hello' 'Dear' 'how' 'ARe' 'You']

In [1]:
words_list = ['hello', 'Dear', 'how', 'ARe', 'You']
result_words = []
for word in words_list:
    if word[1].isupper():
        result_words.append(word)
print("Words with the second character in uppercase:")
print(result_words)

Words with the second character in uppercase:
['ARe']

#  13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions)Formula wMoon = (wEarth * GMoon) / GEarth Weight of people in kg  Weight On Earth = ['John':45, 'Shelly':65, 'Marry':35)Gravitational force on the Moon: 1.622 m/s2GMoon = 1.622 Gravitational force on the Earth: 9.81 m/s2 GEarth = 9.81

In [2]:
weight_on_earth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622  
GEarth = 9.81  
weights_on_moon = list(map(lambda w: (w * GMoon) / GEarth, weight_on_earth.values()))
weight_on_moon = dict(zip(weight_on_earth.keys(), weights_on_moon))
print("Weights on the Moon:")
for name, weight in weight_on_moon.items():
    print("{}: {} kg".format(name,weight))

Weights on the Moon:
John: 7.440366972477065 kg
Shelly: 10.747196738022426 kg
Marry: 5.786952089704383 kg

# Control Structures :

# 1. Write a python program to find the first N Prime numbers.

In [3]:
def isPrime(n):
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True
N = int(input("Enter the value of 'N': "))
for i in range(2, N + 1):
    if isPrime(i):
        print(i, end=" ")

Enter the value of 'N': 20
2 3 5 7 11 13 17 19

# 2. Wite the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [4]:
basic_salary = float(input("Enter Basic Salary: "))
hra = int(input("Enter HRA: "))
ta = int(input("Enter TA: "))
da = int(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print("Gross Salary: {}".format(gross_salary))
print("Tax: {}".format(tax))
print("Net Salary: {}".format(net_salary))

Enter Basic Salary: 100000
Enter HRA: 10000
Enter TA: 7000
Enter DA: 5000
Gross Salary: 122000.0
Tax: 12200.0
Net Salary: 109800.0

# 3. Write a python program to search for a string in the given list.

In [5]:
string_list = ["apple", "banana", "cherry", "date", "grape"]
search_string = input("Enter the string to search for: ")
found = False

for s in string_list:
    if search_string.lower() == s.lower():
        found = True
        break

if found:
    print("The string '{}' was found in the list.".format(search_string))
else:
    print("The string '{}' was not found in the list.".format(search_string))

Enter the string to search for: date
The string 'date' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [6]:
def count_upper_and_lower_case_letters(input_string):
    uppercase_count = 0
    lowercase_count = 0

    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

user_string = input("Enter a string: ")

uppercase, lowercase = count_upper_and_lower_case_letters(user_string)

print("Uppercase letters: {}".format(uppercase))
print("Lowercase letters: {}".format(lowercase))

Enter a string: India Wins Against Srilanka.
Uppercase letters: 4
Lowercase letters: 20

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [7]:
even_sum = 0
odd_sum = 0

for num in range(12, 38):
    if num % 2 == 0:
        even_sum += num 
    else:
        odd_sum += num 

print("Sum of even numbers between 12 and 37: {}".format(even_sum))
print("Sum of odd numbers between 12 and 37: {}".format(odd_sum))

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. Write a python Program to print the table of any number.

In [8]:
num = int(input("Enter a number to print its multiplication table: "))

table_range = range(1, 11)

print("Multiplication table for {}:".format(num))
for i in table_range:
    result = num * i
    print("{} x {} = {}".format(num,i,result))

Enter a number to print its multiplication table: 12
Multiplication table for 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# 7.Write a Python program to sum the first 10 prime numbers.

In [9]:
count_primes = 0
sum_primes = 0
num = 2 

def is_prime(n):
    if n <= 1:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

while count_primes < 10:
    if is_prime(num):
        sum_primes += num
        count_primes += 1
    num += 1

print("The sum of the first 10 prime numbers is: {}".format(sum_primes))

The sum of the first 10 prime numbers is: 129

# 8. Write a python program to implement arithmetic operations using nested if statement.

In [10]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

result = None

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
else:
    print("Invalid operation!")

if result is not None:
    print("Result: {}".format(result))

Enter the first number: 12
Enter the second number: 7
Enter the operation (+, -, *, /): *
Result: 84.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [11]:
celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("The temperature in Fahrenheit is: {}°F".format(fahrenheit))

Enter the temperature in Celsius: 30
The temperature in Fahrenheit is: 86.0°F

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [15]:
numbers = input("Enter a list of numbers separated by spaces: ").split()

numbers = [int(num) for num in numbers]

max_num = numbers[0]
min_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

print("Maximum number: {}".format(max_num))
print("Minimum number: {}".format(min_num))

Enter a list of numbers separated by spaces: 1 3 4
Maximum number: 4
Minimum number: 1

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [1]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a 30-day month:", seconds_in_30_days)

Number of seconds in a 30-day month: 2592000

# 12. Write a program in python to print out the number of seconds in a year

In [2]:
days_in_year = 365
seconds_in_a_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a year:", seconds_in_a_year)

Number of seconds in a year: 31536000

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [3]:
average_speed_mph = 150
distance_in_miles = 414

time_hours = distance_in_miles / average_speed_mph
print("Time to travel from London to Glasgow:", time_hours, "hours")

Time to travel from London to Glasgow: 2.76 hours

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year-192

In [6]:
days_in_each_school_year = 192
total_hours_in_school = (11 - 7 + 1) * days_in_each_school_year * 6

print("Total hours spent in school from year 7 to year 11:", total_hours_in_school, "hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15 if the age of Ram,Sam and Khan are input through the determine the eldest and youngest of the three. keyboard,write a python program

In [5]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

ages = [ram_age, sam_age, khan_age]
oldest = max(ages)
youngest = min(ages)

print("Oldest:", oldest, "years old")
print("Youngest:", youngest, "years old")

Enter Ram's age: 21
Enter Sam's age: 17
Enter Khan's age: 19
Oldest: 21 years old
Youngest: 17 years old

# 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [8]:
# using slicing 
def rotate_list_with_slicing(lst, n):
    n %= len(lst)
    return lst[-n:] + lst[:-n]

original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_with_slicing(original_list, n)
print("Original List:", original_list)
print("Rotated List with Slicing:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List with Slicing: [4, 5, 1, 2, 3]

In [9]:
# without using slicing
def rotate_list_without_slicing(lst, n):
    n %= len(lst)
    for _ in range(n):
        last_element = lst.pop()
        lst.insert(0, last_element)
    return lst

original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_without_slicing(original_list, n)
print("Original List:", original_list)
print("Rotated List without Slicing:", rotated_list)

Original List: [4, 5, 1, 2, 3]
Rotated List without Slicing: [4, 5, 1, 2, 3]

# 17 .Python program to print the patterns given below:

In [5]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()
def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [6]:
x=int(input("Enter row number= \n"))
for i in range(x):
    for j in range(i+1):
        print("#",end='')
    print("")

Enter row number=
5
#
##
###
####
#####

In [7]:
def triangle(n):
    k = n - 1
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i+1):
            print("* ", end="")
        print("\r")
n = 7
triangle(n)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *