# 1.Manipulate using a list.
1.to add new elements to the  end of  the list.
2.to reverse element in the list.
3.to display the same list of elements multiple times.
4.to concatenate two list.
5.to sort the elements in the list in an ascending order.

In [1]:
my_list = [1, 'vishal', 3]
my_list

[1, 'vishal', 3]

In [2]:
my_list.append(4)  # Adds 4 to the end of the list
print(my_list)

[1, 'vishal', 3, 4]

In [3]:
my_list.reverse()  # Reverses the list in-place
print(my_list)

[4, 3, 'vishal', 1]

In [4]:
result = my_list * 3  # Repeats the list 3 times
print(result)

[4, 3, 'vishal', 1, 4, 3, 'vishal', 1, 4, 3, 'vishal', 1]

In [5]:
my_list

[4, 3, 'vishal', 1]

In [6]:
my_list.reverse()

In [7]:
print(my_list)

[1, 'vishal', 3, 4]

In [9]:
my_list2 = ['yash', 5, 6]
concatenated_list = my_list + my_list2  
print(concatenated_list)

[1, 'vishal', 3, 4, 'yash', 5, 6]

In [11]:
my_list1 = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5,8,6,3,2,9]
my_list1.sort()  # Sorts the list in ascending order
print(my_list1)

[1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 5, 6, 6, 8, 9, 9]

# 2.write a python program  to do in the tuples.

In [12]:
# Manipulate tuples
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [17]:
# 1. Add new elements to the ends of the tuple
my_tuple = my_tuple + (6, 7)  # Using concatenation
my_tuple

(1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7)

In [22]:
# 2. Reverse elements in the tuple
reversed_tuple = my_tuple[::-1]
reversed_tuple

(7, 6, 7, 6, 7, 6, 5, 4, 3, 2, 1)

In [26]:
# 3. Display elements of the same tuple multiple times
repeated_tuple = (my_tuple * 3)
repeated_tuple

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 7,
 6,
 7)

In [27]:
# 4. Concatenate two tuples
my_tuple = (1, 2, 3, 4, 5)
my_tuple2 = (6,7,8)
concatenated_tuple = my_tuple + my_tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [28]:
sorted_tuple = tuple(sorted(my_tuple))
sorted_tuple

(1, 2, 3, 4, 5)

In [29]:
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)
print("Repeated Tuple:", repeated_tuple)
print("Concatenated Tuple:", concatenated_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (7, 6, 7, 6, 7, 6, 5, 4, 3, 2, 1)
Repeated Tuple: (1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7, 1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7, 1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7)
Concatenated Tuple: (1, 2, 3, 4, 5, 6, 7, 8)
Sorted Tuple: (1, 2, 3, 4, 5)

# 3. write a python program to implement  the following  using list.

In [30]:
# 1. Create a list with integers (minimum 10 numbers)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# 2. Display the last number in the list
last_number = my_list[-1]
last_number

10

In [32]:
# 3. Display values from the list[0:4]
value1 = my_list[0:4]
value1

[1, 2, 3, 4]

In [33]:
# 4. Display values from the list[2:]
value2 = my_list[2:]
value2

[3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# 5. Display values from the list[:6]
value3 = my_list[:6]
value3

[1, 2, 3, 4, 5, 6]

In [35]:
# Display the results
print("Original List:", my_list)
print("Last Number:", last_number)
print("Values from List[0:4]:", value1)
print("Values from List[2:]:", value2)
print("Values from List[:6]:", value3)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last Number: 10
Values from List[0:4]: [1, 2, 3, 4]
Values from List[2:]: [3, 4, 5, 6, 7, 8, 9, 10]
Values from List[:6]: [1, 2, 3, 4, 5, 6]

#  4.write a python code to implement .tuple1=(10,50,20,40,30)

In [36]:
# Define the tuple
tuple1 = (10, 50, 20, 40, 30)
tuple1

(10, 50, 20, 40, 30)

In [39]:
# 1. Display the elements 10 and 50 from tuple1
element_10 = tuple1[0]
element_50 = tuple1[1]
element_10
element_50

50

In [40]:
# 2. Display the length of tuple1
length_tuple1 = len(tuple1)
length_tuple1

5

In [41]:
# 3. Find the minimum element from tuple1
min_element = min(tuple1)
min_element

10

In [45]:
# 4. Add an element to tuple1 (Tuples are immutable, so we need to create a new tuple)
new_element = 60
tuple1 = tuple1 + (new_element,)
tuple1

(10, 50, 20, 40, 30, 60, 60, 60)

In [46]:
# 5. Display the same tuple1 multiple times
tuple1_multipletimes = tuple1 * 3
tuple1_multipletimes

(10,
 50,
 20,
 40,
 30,
 60,
 60,
 60,
 10,
 50,
 20,
 40,
 30,
 60,
 60,
 60,
 10,
 50,
 20,
 40,
 30,
 60,
 60,
 60)

In [48]:
# Display the results
print("Tuple1:", tuple1)
print("Element 10:", element_10)
print("Element 50:", element_50)
print("Length of Tuple1:", length_tuple1)
print("Minimum Element:", min_element)
print("Tuple1 After Adding Element:", tuple1)
print("Tuple1 Multiple Times:", tuple1_multipletimes)

Tuple1: (10, 50, 20, 40, 30, 60, 60, 60)
Element 10: 10
Element 50: 50
Length of Tuple1: 5
Minimum Element: 10
Tuple1 After Adding Element: (10, 50, 20, 40, 30, 60, 60, 60)
Tuple1 Multiple Times: (10, 50, 20, 40, 30, 60, 60, 60, 10, 50, 20, 40, 30, 60, 60, 60, 10, 50, 20, 40, 30, 60, 60, 60)

# 5. write a python program:

In [50]:
# 1. Calculate the length of the string
input_string = "Hello, Vishal!"
length = len(input_string)
length

14

In [53]:
# 2. Reverse the words in the string
reversed_string = ' '.join(input_string.split()[::-1])
reversed_string

'Vishal! Hello,'

In [56]:
# 3. Display the same string multiple times
string_multipletimes = input_string * 3
string_multipletimes

'Hello, Vishal!Hello, Vishal!Hello, Vishal!'

In [57]:
# 4. Concatenate two strings
str1 = "good"
str2 = "evening"
concatenated_string = str1 + " " + str2
concatenated_string

'good evening'

In [58]:
# 5. Using string slicing to display "india" from "South india"
str3 = "South india"
india_part = str3[6:]
india_part

'india'

In [59]:
# Display the results
print("Original String:", input_string)
print("Length of the String:", length)
print("Reversed String:", reversed_string)
print("String Multiple Times:", string_multipletimes)
print("Concatenated String:", concatenated_string)
print("Substring 'india':", india_part)

Original String: Hello, Vishal!
Length of the String: 14
Reversed String: Vishal! Hello,
String Multiple Times: Hello, Vishal!Hello, Vishal!Hello, Vishal!
Concatenated String: good evening
Substring 'india': india

# 6.perform the folowing:

In [60]:
# 1. Creating a dictionary
my_dict = {'name': 'vishal', 'age': 23, 'city': 'Ghaziabad'}
my_dict

{'name': 'vishal', 'age': 23, 'city': 'Ghaziabad'}

In [63]:
# 2. Accessing values and keys in the dictionary
name = my_dict['name']
age = my_dict['age']
city = my_dict['city']
name,city, age

('vishal', 'Ghaziabad', 23)

In [64]:
# 3. Updating the dictionary using a function
def update_dictionary(d, key, value):
    d[key] = value

update_dictionary(my_dict, 'job', 'Engineer')
my_dict

{'name': 'vishal', 'age': 23, 'city': 'Ghaziabad', 'job': 'Engineer'}

In [70]:

# 4. Clear and delete the dictionary
my_dict = {'name': 'vishal', 'age': 23, 'city': 'Ghaziabad','job': 'Engineer'}
my_dict.clear()
del my_dict

In [71]:
# Display the results
print("Original Dictionary:", my_dict) 
print("Name:", name)
print("Age:", age)
print("City:", city)

NameError: name 'my_dict' is not defined

# 7.python program to insert a number to any position in a list.

In [75]:
my_list = [1, 2, 3, 4, 5]
print("Original List : " , my_list)
number_to_insert = 6
position = 2
my_list.insert(position, number_to_insert)
print("Updated List:", my_list)

Original List :  [1, 2, 3, 4, 5]
Updated List: [1, 2, 6, 3, 4, 5]

# 8.python program to delete a number from a list by index.

In [76]:
my_list = [1, 2, 3, 4, 5]
print("Original List : " , my_list)
index_to_delete = 2
if 0 <= index_to_delete < len(my_list):
    my_list.pop(index_to_delete)
else:
    print("Invalid index")
print("Updated List:", my_list)

Original List :  [1, 2, 3, 4, 5]
Updated List: [1, 2, 4, 5]

# 9.write a program to display a number from 1 to 100.

In [77]:
#  to display numbers from 1 to 100
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.write a Python program to find the sum of all items in a tuple.

In [78]:
my_tuple = (1, 2, 3, 4, 5)
sum_of_items = 0
for item in my_tuple:
    sum_of_items += item
print("Sum of Items:", sum_of_items)

Sum of Items: 15