In [1]:
%matplotlib inline
import pandas as pd

In [6]:
from IPython.core.display import HTML

css_table = open('style-table.css').read()
css_notebook = open('style-notebook.css').read()
css_combined = css_table + css_notebook
HTML(f'<style>{css_combined}</style>')

In [9]:
import pandas as pd
file_path = r'D:\Practise exercise\python S1\titles.csv'
titles = pd.read_csv(file_path)
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# How many movies are listed in the titles dataframe?

In [10]:
num_movies = titles.shape[0]
print(f'Total number of movies listed in the DataFrame: {num_movies}')

Total number of movies listed in the DataFrame: 244914

# What are the earliest two films listed in the titles dataframe?

In [11]:
earliest_films = titles.sort_values(by='year')
earliest_two_films = earliest_films.head(2)
print(earliest_two_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# How many movies have the title "Hamlet"?

In [12]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
num_hamlet_movies = len(hamlet_movies)
print(f'Total number of movies with the title "Hamlet": {num_hamlet_movies}')

Total number of movies with the title "Hamlet": 20

# How many movies are titled "North by Northwest"?

In [13]:
north_by_northwest_count = len(titles[titles['title'] == 'North by Northwest'])
print(f'Number of movies titled "North by Northwest": {north_by_northwest_count}')

Number of movies titled "North by Northwest": 1

# When was the first movie titled "Hamlet" made?

In [14]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
first_hamlet_movie_year = hamlet_movies['year'].min()
print(f'The first movie titled "Hamlet" was made in the year {first_hamlet_movie_year}.')

The first movie titled "Hamlet" was made in the year 1910.

# List all of the "Treasure Island" movies from earliest to most recent.

In [15]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island']
sorted_treasure_island_movies = treasure_island_movies.sort_values(by='year')
print(sorted_treasure_island_movies)

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# How many movies were made in the year 1950?

In [16]:
movies_1950_count = len(titles[titles['year'] == 1950])
print(f'Number of movies made in the year 1950: {movies_1950_count}')

Number of movies made in the year 1950: 1113

# How many movies were made in the year 1960?

In [17]:
movies_1960_count = len(titles[titles['year'] == 1960])
print(f'Number of movies made in the year 1960: {movies_1960_count}')

Number of movies made in the year 1960: 1549

# How many movies were made from 1950 through 1959?

In [18]:
movies_1950s_count = len(titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)])
print(f'Number of movies made from 1950 through 1959: {movies_1950s_count}')

Number of movies made from 1950 through 1959: 12934

# In what years has a movie titled "Batman" been released?

In [19]:
batman_movie_years = titles[titles['title'] == 'Batman']['year'].unique()
print(f'Years in which movies titled "Batman" were released: {batman_movie_years}')

Years in which movies titled "Batman" were released: [1943 1989]

# How many roles were there in the movie "Inception "?

In [25]:
import pandas as pd
cast = pd.read_csv('D:\Practise exercise\python S1\cast.csv')

inception_roles_count = len(cast[cast['title'] == 'Inception'])
print(f'Number of roles in the movie "Inception": {inception_roles_count}')

Number of roles in the movie "Inception": 78

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [26]:
inception_without_n_value_count = len(cast[(cast['title'] == 'Inception') & cast['n'].isna()])
print(f'Number of roles in the movie "Inception" without an "n" value: {inception_without_n_value_count}')

Number of roles in the movie "Inception" without an "n" value: 27

# How many roles in the movie "Inception" did receive an "n" value?

In [27]:
inception_with_n_value_count = len(cast[(cast['title'] == 'Inception') & ~cast['n'].isna()])
print(f'Number of roles in the movie "Inception" with an "n" value: {inception_with_n_value_count}')

Number of roles in the movie "Inception" with an "n" value: 51

# Display the cast of "North by Northwest" in their correct "n" value order, ignoring roles that did not earn a numeric "n" value.

In [28]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & ~cast['n'].isna()]
sorted_north_by_northwest_cast = north_by_northwest_cast.sort_values(by='n')
print(sorted_north_by_northwest_cast)

                      title  year                  name     type  \
871426   North by Northwest  1959            Cary Grant    actor
3518333  North by Northwest  1959       Eva Marie Saint  actress
1457165  North by Northwest  1959           James Mason    actor
3157232  North by Northwest  1959   Jessie Royce Landis  actress
356707   North by Northwest  1959        Leo G. Carroll    actor
3048272  North by Northwest  1959  Josephine Hutchinson  actress
1695173  North by Northwest  1959           Philip Ober    actor
1275337  North by Northwest  1959         Martin Landau    actor
2447081  North by Northwest  1959         Adam Williams    actor
1811387  North by Northwest  1959          Edward Platt    actor
665768   North by Northwest  1959     Robert Ellenstein    actor
2295714  North by Northwest  1959          Les Tremayne    actor
464736   North by Northwest  1959       Philip Coolidge    actor
1508344  North by Northwest  1959         Patrick McVey    actor
206471   North by Northwest  1959          Edward Binns    actor
1384780  North by Northwest  1959             Ken Lynch    actor

                           character     n
871426            Roger O. Thornhill   1.0
3518333                  Eve Kendall   2.0
1457165              Phillip Vandamm   3.0
3157232              Clara Thornhill   4.0
356707                 The Professor   5.0
3048272                Mrs. Townsend   6.0
1695173              Lester Townsend   7.0
1275337                      Leonard   8.0
2447081                     Valerian   9.0
1811387              Victor Larrabee  10.0
665768                         Licht  11.0
2295714                   Auctioneer  12.0
464736                     Dr. Cross  13.0
1508344               Sergeant Flamm  14.0
206471                Captain Junket  15.0
1384780  Charley - Chicago Policeman  16.0

# Display the entire cast, in "n" order, of the 1972 film "Sleuth".

In [29]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]
sorted_sleuth_1972_cast = sleuth_1972_cast.sort_values(by='n')
print(sorted_sleuth_1972_cast)

          title  year                name     type  \
1705394  Sleuth  1972    Laurence Olivier    actor
326773   Sleuth  1972       Michael Caine    actor
373876   Sleuth  1972      Alec Cawthorne    actor
1465483  Sleuth  1972  John (II) Matthews    actor
2724553  Sleuth  1972  Eve (III) Channing  actress
1448690  Sleuth  1972        Teddy Martin    actor

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

# Display the entire cast, in "n" order, of the 2007 version of "Sleuth."

In [30]:
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]
sorted_sleuth_2007_cast = sleuth_2007_cast.sort_values(by='n')
print(sorted_sleuth_2007_cast)

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

# How many roles were credited in the silent 1921 version of "Hamlet"?

In [31]:
hamlet_1921_roles_count = len(cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)])
print(f'Number of roles credited in the silent 1921 version of "Hamlet": {hamlet_1921_roles_count}')

Number of roles credited in the silent 1921 version of "Hamlet": 9

# How many roles were credited in Branagh's 1996 "Hamlet"?

In [32]:
hamlet_1996_roles_count = len(cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)])
print(f'Number of roles credited in Branagh\'s 1996 "Hamlet": {hamlet_1996_roles_count}')

Number of roles credited in Branagh's 1996 "Hamlet": 54

# How many "Hamlet" roles have been listed in all film credits through history?

In [33]:
hamlet_roles_count = len(cast[cast['title'] == 'Hamlet'])
print(f'Number of "Hamlet" roles listed in all film credits through history: {hamlet_roles_count}')

Number of "Hamlet" roles listed in all film credits through history: 342

# How many people have played an "Ophelia"?

In [34]:
ophelia_actors_count = len(cast[cast['character'] == 'Ophelia'])
print(f'Number of people who have played an "Ophelia": {ophelia_actors_count}')

Number of people who have played an "Ophelia": 117

# How many people have played a role called "The Dude"?

In [35]:
the_dude_actors_count = len(cast[cast['character'] == 'The Dude'])
print(f'Number of people who have played a role called "The Dude": {the_dude_actors_count}')

Number of people who have played a role called "The Dude": 19

# How many people have played a role called "The Stranger"?

In [36]:
the_stranger_actors_count = len(cast[cast['character'] == 'The Stranger'])
print(f'Number of people who have played a role called "The Stranger": {the_stranger_actors_count}')

Number of people who have played a role called "The Stranger": 212

# How many roles has Sidney Poitier played throughout his career?

In [37]:
sidney_poitier_roles_count = len(cast[cast['name'] == 'Sidney Poitier'])
print(f'Number of roles played by Sidney Poitier throughout his career: {sidney_poitier_roles_count}')

Number of roles played by Sidney Poitier throughout his career: 43

# How many roles has Judi Dench played?

In [38]:
judi_dench_roles_count = len(cast[cast['name'] == 'Judi Dench'])
print(f'Number of roles played by Judi Dench: {judi_dench_roles_count}')

Number of roles played by Judi Dench: 55

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [39]:
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
sorted_cary_grant_supporting_roles = cary_grant_supporting_roles_1940s.sort_values(by='year')
print(sorted_cary_grant_supporting_roles)

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# List the leading roles that Cary Grant played in the 1940s in order by year:

In [40]:
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
sorted_cary_grant_leading_roles = cary_grant_leading_roles_1940s.sort_values(by='year')
print(sorted_cary_grant_leading_roles)

                                       title  year        name   type  \
871448               The Howards of Virginia  1940  Cary Grant  actor
871407                       His Girl Friday  1940  Cary Grant  actor
871450                The Philadelphia Story  1940  Cary Grant  actor
871438                             Suspicion  1941  Cary Grant  actor
871452                  The Talk of the Town  1942  Cary Grant  actor
871429                 Once Upon a Honeymoon  1942  Cary Grant  actor
871398                     Destination Tokyo  1943  Cary Grant  actor
871422                             Mr. Lucky  1943  Cary Grant  actor
871430                      Once Upon a Time  1944  Cary Grant  actor
871390                  Arsenic and Old Lace  1944  Cary Grant  actor
871425             None But the Lonely Heart  1944  Cary Grant  actor
871424                         Night and Day  1946  Cary Grant  actor
871427                             Notorious  1946  Cary Grant  actor
871444      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
871445                     The Bishop's Wife  1947  Cary Grant  actor
871421  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
871402          Every Girl Should Be Married  1948  Cary Grant  actor
871411                I Was a Male War Bride  1949  Cary Grant  actor

                                   character    n
871448                           Matt Howard  1.0
871407                          Walter Burns  1.0
871450                    C. K. Dexter Haven  1.0
871438                      Johnnie Aysgarth  1.0
871452                          Leopold Dilg  1.0
871429                 Patrick 'Pat' O'Toole  1.0
871398                         Capt. Cassidy  1.0
871422  Joe Adams -posing as Joe Bascopolous  1.0
871430                           Jerry Flynn  1.0
871390                     Mortimer Brewster  1.0
871425                            Ernie Mott  1.0
871424                           Cole Porter  1.0
871427                                Devlin  1.0
871444                           Dick Nugent  1.0
871445                                Dudley  1.0
871421                         Jim Blandings  1.0
871402                     Dr. Madison Brown  1.0
871411                 Captain Henri Rochard  1.0

# How many roles were available for actors in the 1950s?

In [41]:
roles_available_for_actors_1950s = len(cast[(cast['type'] == 'actor') & (cast['year'] >= 1950) & (cast['year'] <= 1959)])
print(f'Number of roles available for actors in the 1950s: {roles_available_for_actors_1950s}')

Number of roles available for actors in the 1950s: 157738

# How many roles were available for actresses in the 1950s?

In [42]:
roles_available_for_actresses_1950s = len(cast[(cast['type'] == 'actress') & (cast['year'] >= 1950) & (cast['year'] <= 1959)])
print(f'Number of roles available for actresses in the 1950s: {roles_available_for_actresses_1950s}')

Number of roles available for actresses in the 1950s: 57733

# How many leading roles (n=1) were available from the beginning of film history through 1980?

In [43]:
leading_roles_through_1980 = len(cast[(cast['n'] == 1) & (cast['year'] <= 1980)])
print(f'Number of leading roles (n=1) available from the beginning of film history through 1980: {leading_roles_through_1980}')

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

# How many non-leading roles were available from the beginning of film history through 1980?

In [44]:
non_leading_roles_through_1980 = len(cast[(cast['n'] != 1) & (cast['year'] <= 1980)])
print(f'Number of non-leading roles available from the beginning of film history through 1980: {non_leading_roles_through_1980}')

Number of non-leading roles available from the beginning of film history through 1980: 1117667

# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [45]:
roles_without_numeric_rank_through_1980 = len(cast[(cast['year'] <= 1980) & cast['n'].isna()])
print(f'Number of roles through 1980 without a numeric "n" rank: {roles_without_numeric_rank_through_1980}')

Number of roles through 1980 without a numeric "n" rank: 448347